<!DOCTYPE html>
<html>
  <head>
    <title>Add a new rider</title>
  </head>
  <body>
<form action="/riders" method="post">
   First Name: <input type ="text" name = "first_name"><br>
   Last Name: <input type ="text" name = "last_name"><br>
   <input type ="submit" name = "submit" value = "add new rider">
</form>
  </body>
</html>
